<!-- <p>Productos en el carrito</p>

<div class="m-4" *ngFor="let pc of zapatillasCarrito">
  {{ pc.zapatilla.modelo }}<br />
  Precio :{{ pc.zapatilla.precio }}<br />
  Cantidad:{{ pc.cantidad }}
</div>

<button (click)="vaciarCarrito()">VACIAR CARRITO</button><br />
<button (click)="realizarPedido()">REALIZAR PEDIDO</button>
 -->

<div class="w-full min-h-[65vh] mt-2">
  <table
    class="w-full rounded-lg m-5 mx-auto text-gray-100 bg-gradient-to-r from-[#2b1046] to-[#003741] text-[1.2rem]"
  >
    <thead>
      <tr class="text-center border-b-2 border-indigo-300">
        <th class="px-4 py-3">Foto</th>
        <th class="px-4 py-3">Modelo</th>
        <th class="px-4 py-3">Cantidad</th>
        <th class="px-4 py-3">Precio</th>
        <th class="px-4 py-3">Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr class="rounded-b-lg text-center" *ngFor="let pc of zapatillasCarrito">
        <td class="px-4 py-3 flex items-center justify-center">
          <img
            src="/server/imagenes/{{ pc.zapatilla.id }}.png"
            class="h-[100px] w-[100px]"
            alt="imagen zapatilla"
          />
        </td>
        <td class="px-4 py-3">{{ pc.zapatilla.modelo }}</td>
        <td class="px-4 py-3 text-white">
          <div class="w-[5rem] text-center py-2 px-1 rounded-xl font-semibold">
            {{ pc.cantidad }}
          </div>
        </td>
        <td class="px-4 py-3">{{ pc.zapatilla.precio }}$</td>
        <td class="px-4 py-3">
          <button
            type="button"
            (click)="eliminarProductoCarrito(pc.zapatilla.id)"
            class="rounded-lg px-4 py-2 bg-gradient-to-r from-red-500 to-red-800 border-2 bg-origin-border border-transparent hover:border-2 hover:border-white hover:text-gray-300"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth="4"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                strokeLinecap="round"
                strokeLinejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="w-full flex justify-evenly mt-10 text-[1.7rem] mb-10">
    <button
      type="button"
      class="mr-[4rem] rounded-lg px-4 py-2 bg-gray-600 border-2 bg-origin-border border-transparent hover:border-2 hover:border-white hover:text-gray-300 font-bold"
      (click)="vaciarCarrito()"
    >
      Vaciar carrito
    </button>
    <button
      type="button"
      class="font-bold rounded-lg px-4 py-2 bg-gradient-to-r from-purple-600 to-cyan-500 border-2 bg-origin-border border-transparent hover:border-2 hover:border-white hover:text-gray-300"
      (click)="realizarPedido()"
    >
      Realizar pedido
    </button>
  </div>
</div>
