<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Tienda online de zapatillas con angular y php</div>
    <div>Parte cliente</div>
    <br />
    <a href="http://localhost/10_tienda/admin/">acceso a administracion</a>
    <br />
    <br />
    <div>
      <a href="#" routerLink="/listado">VER PRODUCTOS</a><br /><br />
      <a href="#" routerLink="/carrito">VER CARRITO</a><br /><br />
    </div>

    <router-outlet> </router-outlet>
  </body>
</html>
