@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background-color: #0e0f0a;
}

.purple__gradient {
    background: linear-gradient(90deg, #b940ff 0%, #9000b4 100%);
    filter: blur(200px);
}

.cyan__gradient {
    background: linear-gradient(90deg, #0fa7ff 0%, #0068ca 100%);
    filter: blur(190px);
}

.bg-black-gradient {
    background: linear-gradient(144.39deg,
            #ffffff -278.56%,
            #6d6d6d -78.47%,
            #11101d 91.61%);
}

.bg-black-gradient-2 {
    background: linear-gradient(-168.39deg,
            #ffffff -278.56%,
            #6d6d6d -78.47%,
            #11101d 91.61%);
}

.bg-gray-gradient {
    background: linear-gradient(153.47deg,
            rgba(255, 255, 255, 0) -341.94%,
            #1b1725 95.11%);
}